// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$a-name: 'a+';
$a-x: 47px;
$a-y: 151px;
$a-offset-x: -47px;
$a-offset-y: -151px;
$a-width: 14px;
$a-height: 11px;
$a-total-width: 240px;
$a-total-height: 238px;
$a-image: '../images/spritesheet.png';
$a-: (47px, 151px, -47px, -151px, 14px, 11px, 240px, 238px, '../images/spritesheet.png', 'a+', );
$a-name: 'a-';
$a-x: 81px;
$a-y: 203px;
$a-offset-x: -81px;
$a-offset-y: -203px;
$a-width: 17px;
$a-height: 13px;
$a-total-width: 240px;
$a-total-height: 238px;
$a-image: '../images/spritesheet.png';
$a-: (81px, 203px, -81px, -203px, 17px, 13px, 240px, 238px, '../images/spritesheet.png', 'a-', );
$ad-premium-name: 'ad-premium';
$ad-premium-x: 84px;
$ad-premium-y: 77px;
$ad-premium-offset-x: -84px;
$ad-premium-offset-y: -77px;
$ad-premium-width: 30px;
$ad-premium-height: 42px;
$ad-premium-total-width: 240px;
$ad-premium-total-height: 238px;
$ad-premium-image: '../images/spritesheet.png';
$ad-premium: (84px, 77px, -84px, -77px, 30px, 42px, 240px, 238px, '../images/spritesheet.png', 'ad-premium', );
$ad-pub-name: 'ad-pub';
$ad-pub-x: 142px;
$ad-pub-y: 43px;
$ad-pub-offset-x: -142px;
$ad-pub-offset-y: -43px;
$ad-pub-width: 37px;
$ad-pub-height: 37px;
$ad-pub-total-width: 240px;
$ad-pub-total-height: 238px;
$ad-pub-image: '../images/spritesheet.png';
$ad-pub: (142px, 43px, -142px, -43px, 37px, 37px, 240px, 238px, '../images/spritesheet.png', 'ad-pub', );
$ad-simple-name: 'ad-simple';
$ad-simple-x: 125px;
$ad-simple-y: 119px;
$ad-simple-offset-x: -125px;
$ad-simple-offset-y: -119px;
$ad-simple-width: 29px;
$ad-simple-height: 29px;
$ad-simple-total-width: 240px;
$ad-simple-total-height: 238px;
$ad-simple-image: '../images/spritesheet.png';
$ad-simple: (125px, 119px, -125px, -119px, 29px, 29px, 240px, 238px, '../images/spritesheet.png', 'ad-simple', );
$ad-urgent-name: 'ad-urgent';
$ad-urgent-x: 0px;
$ad-urgent-y: 119px;
$ad-urgent-offset-x: 0px;
$ad-urgent-offset-y: -119px;
$ad-urgent-width: 30px;
$ad-urgent-height: 43px;
$ad-urgent-total-width: 240px;
$ad-urgent-total-height: 238px;
$ad-urgent-image: '../images/spritesheet.png';
$ad-urgent: (0px, 119px, 0px, -119px, 30px, 43px, 240px, 238px, '../images/spritesheet.png', 'ad-urgent', );
$add-advert-white-name: 'add-advert-white';
$add-advert-white-x: 0px;
$add-advert-white-y: 0px;
$add-advert-white-offset-x: 0px;
$add-advert-white-offset-y: 0px;
$add-advert-white-width: 71px;
$add-advert-white-height: 77px;
$add-advert-white-total-width: 240px;
$add-advert-white-total-height: 238px;
$add-advert-white-image: '../images/spritesheet.png';
$add-advert-white: (0px, 0px, 0px, 0px, 71px, 77px, 240px, 238px, '../images/spritesheet.png', 'add-advert-white', );
$add-advert-name: 'add-advert';
$add-advert-x: 71px;
$add-advert-y: 0px;
$add-advert-offset-x: -71px;
$add-advert-offset-y: 0px;
$add-advert-width: 71px;
$add-advert-height: 77px;
$add-advert-total-width: 240px;
$add-advert-total-height: 238px;
$add-advert-image: '../images/spritesheet.png';
$add-advert: (71px, 0px, -71px, 0px, 71px, 77px, 240px, 238px, '../images/spritesheet.png', 'add-advert', );
$arrow-down-black-name: 'arrow-down-black';
$arrow-down-black-x: 227px;
$arrow-down-black-y: 126px;
$arrow-down-black-offset-x: -227px;
$arrow-down-black-offset-y: -126px;
$arrow-down-black-width: 10px;
$arrow-down-black-height: 7px;
$arrow-down-black-total-width: 240px;
$arrow-down-black-total-height: 238px;
$arrow-down-black-image: '../images/spritesheet.png';
$arrow-down-black: (227px, 126px, -227px, -126px, 10px, 7px, 240px, 238px, '../images/spritesheet.png', 'arrow-down-black', );
$arrow-down-circle-white-name: 'arrow-down-circle-white';
$arrow-down-circle-white-x: 188px;
$arrow-down-circle-white-y: 183px;
$arrow-down-circle-white-offset-x: -188px;
$arrow-down-circle-white-offset-y: -183px;
$arrow-down-circle-white-width: 16px;
$arrow-down-circle-white-height: 16px;
$arrow-down-circle-white-total-width: 240px;
$arrow-down-circle-white-total-height: 238px;
$arrow-down-circle-white-image: '../images/spritesheet.png';
$arrow-down-circle-white: (188px, 183px, -188px, -183px, 16px, 16px, 240px, 238px, '../images/spritesheet.png', 'arrow-down-circle-white', );
$arrow-down-circle-name: 'arrow-down-circle';
$arrow-down-circle-x: 198px;
$arrow-down-circle-y: 162px;
$arrow-down-circle-offset-x: -198px;
$arrow-down-circle-offset-y: -162px;
$arrow-down-circle-width: 17px;
$arrow-down-circle-height: 17px;
$arrow-down-circle-total-width: 240px;
$arrow-down-circle-total-height: 238px;
$arrow-down-circle-image: '../images/spritesheet.png';
$arrow-down-circle: (198px, 162px, -198px, -162px, 17px, 17px, 240px, 238px, '../images/spritesheet.png', 'arrow-down-circle', );
$arrow-down-orange-name: 'arrow-down-orange';
$arrow-down-orange-x: 227px;
$arrow-down-orange-y: 133px;
$arrow-down-orange-offset-x: -227px;
$arrow-down-orange-offset-y: -133px;
$arrow-down-orange-width: 9px;
$arrow-down-orange-height: 7px;
$arrow-down-orange-total-width: 240px;
$arrow-down-orange-total-height: 238px;
$arrow-down-orange-image: '../images/spritesheet.png';
$arrow-down-orange: (227px, 133px, -227px, -133px, 9px, 7px, 240px, 238px, '../images/spritesheet.png', 'arrow-down-orange', );
$arrow-down-white-name: 'arrow-down-white';
$arrow-down-white-x: 227px;
$arrow-down-white-y: 98px;
$arrow-down-white-offset-x: -227px;
$arrow-down-white-offset-y: -98px;
$arrow-down-white-width: 12px;
$arrow-down-white-height: 9px;
$arrow-down-white-total-width: 240px;
$arrow-down-white-total-height: 238px;
$arrow-down-white-image: '../images/spritesheet.png';
$arrow-down-white: (227px, 98px, -227px, -98px, 12px, 9px, 240px, 238px, '../images/spritesheet.png', 'arrow-down-white', );
$arrow-left-orange-name: 'arrow-left-orange';
$arrow-left-orange-x: 233px;
$arrow-left-orange-y: 149px;
$arrow-left-orange-offset-x: -233px;
$arrow-left-orange-offset-y: -149px;
$arrow-left-orange-width: 6px;
$arrow-left-orange-height: 9px;
$arrow-left-orange-total-width: 240px;
$arrow-left-orange-total-height: 238px;
$arrow-left-orange-image: '../images/spritesheet.png';
$arrow-left-orange: (233px, 149px, -233px, -149px, 6px, 9px, 240px, 238px, '../images/spritesheet.png', 'arrow-left-orange', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 227px;
$arrow-left-y: 149px;
$arrow-left-offset-x: -227px;
$arrow-left-offset-y: -149px;
$arrow-left-width: 6px;
$arrow-left-height: 9px;
$arrow-left-total-width: 240px;
$arrow-left-total-height: 238px;
$arrow-left-image: '../images/spritesheet.png';
$arrow-left: (227px, 149px, -227px, -149px, 6px, 9px, 240px, 238px, '../images/spritesheet.png', 'arrow-left', );
$arrow-right-orange-name: 'arrow-right-orange';
$arrow-right-orange-x: 233px;
$arrow-right-orange-y: 140px;
$arrow-right-orange-offset-x: -233px;
$arrow-right-orange-offset-y: -140px;
$arrow-right-orange-width: 6px;
$arrow-right-orange-height: 9px;
$arrow-right-orange-total-width: 240px;
$arrow-right-orange-total-height: 238px;
$arrow-right-orange-image: '../images/spritesheet.png';
$arrow-right-orange: (233px, 140px, -233px, -140px, 6px, 9px, 240px, 238px, '../images/spritesheet.png', 'arrow-right-orange', );
$arrow-right-white-name: 'arrow-right-white';
$arrow-right-white-x: 227px;
$arrow-right-white-y: 140px;
$arrow-right-white-offset-x: -227px;
$arrow-right-white-offset-y: -140px;
$arrow-right-white-width: 6px;
$arrow-right-white-height: 9px;
$arrow-right-white-total-width: 240px;
$arrow-right-white-total-height: 238px;
$arrow-right-white-image: '../images/spritesheet.png';
$arrow-right-white: (227px, 140px, -227px, -140px, 6px, 9px, 240px, 238px, '../images/spritesheet.png', 'arrow-right-white', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 227px;
$arrow-right-y: 158px;
$arrow-right-offset-x: -227px;
$arrow-right-offset-y: -158px;
$arrow-right-width: 6px;
$arrow-right-height: 9px;
$arrow-right-total-width: 240px;
$arrow-right-total-height: 238px;
$arrow-right-image: '../images/spritesheet.png';
$arrow-right: (227px, 158px, -227px, -158px, 6px, 9px, 240px, 238px, '../images/spritesheet.png', 'arrow-right', );
$arrow-up-orange-name: 'arrow-up-orange';
$arrow-up-orange-x: 227px;
$arrow-up-orange-y: 119px;
$arrow-up-orange-offset-x: -227px;
$arrow-up-orange-offset-y: -119px;
$arrow-up-orange-width: 10px;
$arrow-up-orange-height: 7px;
$arrow-up-orange-total-width: 240px;
$arrow-up-orange-total-height: 238px;
$arrow-up-orange-image: '../images/spritesheet.png';
$arrow-up-orange: (227px, 119px, -227px, -119px, 10px, 7px, 240px, 238px, '../images/spritesheet.png', 'arrow-up-orange', );
$biblio-name: 'biblio';
$biblio-x: 181px;
$biblio-y: 47px;
$biblio-offset-x: -181px;
$biblio-offset-y: -47px;
$biblio-width: 25px;
$biblio-height: 24px;
$biblio-total-width: 240px;
$biblio-total-height: 238px;
$biblio-image: '../images/spritesheet.png';
$biblio: (181px, 47px, -181px, -47px, 25px, 24px, 240px, 238px, '../images/spritesheet.png', 'biblio', );
$big-help-name: 'big-help';
$big-help-x: 114px;
$big-help-y: 99px;
$big-help-offset-x: -114px;
$big-help-offset-y: -99px;
$big-help-width: 20px;
$big-help-height: 20px;
$big-help-total-width: 240px;
$big-help-total-height: 238px;
$big-help-image: '../images/spritesheet.png';
$big-help: (114px, 99px, -114px, -99px, 20px, 20px, 240px, 238px, '../images/spritesheet.png', 'big-help', );
$bookmark-name: 'bookmark';
$bookmark-x: 215px;
$bookmark-y: 0px;
$bookmark-offset-x: -215px;
$bookmark-offset-y: 0px;
$bookmark-width: 12px;
$bookmark-height: 27px;
$bookmark-total-width: 240px;
$bookmark-total-height: 238px;
$bookmark-image: '../images/spritesheet.png';
$bookmark: (215px, 0px, -215px, 0px, 12px, 27px, 240px, 238px, '../images/spritesheet.png', 'bookmark', );
$calendar-name: 'calendar';
$calendar-x: 141px;
$calendar-y: 162px;
$calendar-offset-x: -141px;
$calendar-offset-y: -162px;
$calendar-width: 19px;
$calendar-height: 19px;
$calendar-total-width: 240px;
$calendar-total-height: 238px;
$calendar-image: '../images/spritesheet.png';
$calendar: (141px, 162px, -141px, -162px, 19px, 19px, 240px, 238px, '../images/spritesheet.png', 'calendar', );
$check-orange-name: 'check-orange';
$check-orange-x: 98px;
$check-orange-y: 203px;
$check-orange-offset-x: -98px;
$check-orange-offset-y: -203px;
$check-orange-width: 16px;
$check-orange-height: 12px;
$check-orange-total-width: 240px;
$check-orange-total-height: 238px;
$check-orange-image: '../images/spritesheet.png';
$check-orange: (98px, 203px, -98px, -203px, 16px, 12px, 240px, 238px, '../images/spritesheet.png', 'check-orange', );
$check-name: 'check';
$check-x: 63px;
$check-y: 203px;
$check-offset-x: -63px;
$check-offset-y: -203px;
$check-width: 18px;
$check-height: 13px;
$check-total-width: 240px;
$check-total-height: 238px;
$check-image: '../images/spritesheet.png';
$check: (63px, 203px, -63px, -203px, 18px, 13px, 240px, 238px, '../images/spritesheet.png', 'check', );
$circle-minus-name: 'circle-minus';
$circle-minus-x: 114px;
$circle-minus-y: 77px;
$circle-minus-offset-x: -114px;
$circle-minus-offset-y: -77px;
$circle-minus-width: 22px;
$circle-minus-height: 22px;
$circle-minus-total-width: 240px;
$circle-minus-total-height: 238px;
$circle-minus-image: '../images/spritesheet.png';
$circle-minus: (114px, 77px, -114px, -77px, 22px, 22px, 240px, 238px, '../images/spritesheet.png', 'circle-minus', );
$circle-plus-name: 'circle-plus';
$circle-plus-x: 181px;
$circle-plus-y: 116px;
$circle-plus-offset-x: -181px;
$circle-plus-offset-y: -116px;
$circle-plus-width: 23px;
$circle-plus-height: 23px;
$circle-plus-total-width: 240px;
$circle-plus-total-height: 238px;
$circle-plus-image: '../images/spritesheet.png';
$circle-plus: (181px, 116px, -181px, -116px, 23px, 23px, 240px, 238px, '../images/spritesheet.png', 'circle-plus', );
$close-white-name: 'close-white';
$close-white-x: 180px;
$close-white-y: 162px;
$close-white-offset-x: -180px;
$close-white-offset-y: -162px;
$close-white-width: 18px;
$close-white-height: 18px;
$close-white-total-width: 240px;
$close-white-total-height: 238px;
$close-white-image: '../images/spritesheet.png';
$close-white: (180px, 162px, -180px, -162px, 18px, 18px, 240px, 238px, '../images/spritesheet.png', 'close-white', );
$comment-name: 'comment';
$comment-x: 160px;
$comment-y: 162px;
$comment-offset-x: -160px;
$comment-offset-y: -162px;
$comment-width: 20px;
$comment-height: 18px;
$comment-total-width: 240px;
$comment-total-height: 238px;
$comment-image: '../images/spritesheet.png';
$comment: (160px, 162px, -160px, -162px, 20px, 18px, 240px, 238px, '../images/spritesheet.png', 'comment', );
$contact-name: 'contact';
$contact-x: 181px;
$contact-y: 0px;
$contact-offset-x: -181px;
$contact-offset-y: 0px;
$contact-width: 34px;
$contact-height: 21px;
$contact-total-width: 240px;
$contact-total-height: 238px;
$contact-image: '../images/spritesheet.png';
$contact: (181px, 0px, -181px, 0px, 34px, 21px, 240px, 238px, '../images/spritesheet.png', 'contact', );
$danger-orange-name: 'danger-orange';
$danger-orange-x: 227px;
$danger-orange-y: 86px;
$danger-orange-offset-x: -227px;
$danger-orange-offset-y: -86px;
$danger-orange-width: 13px;
$danger-orange-height: 12px;
$danger-orange-total-width: 240px;
$danger-orange-total-height: 238px;
$danger-orange-image: '../images/spritesheet.png';
$danger-orange: (227px, 86px, -227px, -86px, 13px, 12px, 240px, 238px, '../images/spritesheet.png', 'danger-orange', );
$danger-name: 'danger';
$danger-x: 227px;
$danger-y: 74px;
$danger-offset-x: -227px;
$danger-offset-y: -74px;
$danger-width: 13px;
$danger-height: 12px;
$danger-total-width: 240px;
$danger-total-height: 238px;
$danger-image: '../images/spritesheet.png';
$danger: (227px, 74px, -227px, -74px, 13px, 12px, 240px, 238px, '../images/spritesheet.png', 'danger', );
$delete-o-name: 'delete-o';
$delete-o-x: 227px;
$delete-o-y: 107px;
$delete-o-offset-x: -227px;
$delete-o-offset-y: -107px;
$delete-o-width: 9px;
$delete-o-height: 12px;
$delete-o-total-width: 240px;
$delete-o-total-height: 238px;
$delete-o-image: '../images/spritesheet.png';
$delete-o: (227px, 107px, -227px, -107px, 9px, 12px, 240px, 238px, '../images/spritesheet.png', 'delete-o', );
$delete-name: 'delete';
$delete-x: 227px;
$delete-y: 19px;
$delete-offset-x: -227px;
$delete-offset-y: -19px;
$delete-width: 12px;
$delete-height: 16px;
$delete-total-width: 240px;
$delete-total-height: 238px;
$delete-image: '../images/spritesheet.png';
$delete: (227px, 19px, -227px, -19px, 12px, 16px, 240px, 238px, '../images/spritesheet.png', 'delete', );
$edit-comment-noir-name: 'edit-comment-noir';
$edit-comment-noir-x: 227px;
$edit-comment-noir-y: 35px;
$edit-comment-noir-offset-x: -227px;
$edit-comment-noir-offset-y: -35px;
$edit-comment-noir-width: 13px;
$edit-comment-noir-height: 13px;
$edit-comment-noir-total-width: 240px;
$edit-comment-noir-total-height: 238px;
$edit-comment-noir-image: '../images/spritesheet.png';
$edit-comment-noir: (227px, 35px, -227px, -35px, 13px, 13px, 240px, 238px, '../images/spritesheet.png', 'edit-comment-noir', );
$edit-comment-orange-name: 'edit-comment-orange';
$edit-comment-orange-x: 227px;
$edit-comment-orange-y: 61px;
$edit-comment-orange-offset-x: -227px;
$edit-comment-orange-offset-y: -61px;
$edit-comment-orange-width: 13px;
$edit-comment-orange-height: 13px;
$edit-comment-orange-total-width: 240px;
$edit-comment-orange-total-height: 238px;
$edit-comment-orange-image: '../images/spritesheet.png';
$edit-comment-orange: (227px, 61px, -227px, -61px, 13px, 13px, 240px, 238px, '../images/spritesheet.png', 'edit-comment-orange', );
$edit-comment-name: 'edit-comment';
$edit-comment-x: 140px;
$edit-comment-y: 183px;
$edit-comment-offset-x: -140px;
$edit-comment-offset-y: -183px;
$edit-comment-width: 16px;
$edit-comment-height: 16px;
$edit-comment-total-width: 240px;
$edit-comment-total-height: 238px;
$edit-comment-image: '../images/spritesheet.png';
$edit-comment: (140px, 183px, -140px, -183px, 16px, 16px, 240px, 238px, '../images/spritesheet.png', 'edit-comment', );
$envelope-o-name: 'envelope-o';
$envelope-o-x: 30px;
$envelope-o-y: 151px;
$envelope-o-offset-x: -30px;
$envelope-o-offset-y: -151px;
$envelope-o-width: 17px;
$envelope-o-height: 11px;
$envelope-o-total-width: 240px;
$envelope-o-total-height: 238px;
$envelope-o-image: '../images/spritesheet.png';
$envelope-o: (30px, 151px, -30px, -151px, 17px, 11px, 240px, 238px, '../images/spritesheet.png', 'envelope-o', );
$envelope-orange-name: 'envelope-orange';
$envelope-orange-x: 0px;
$envelope-orange-y: 183px;
$envelope-orange-offset-x: 0px;
$envelope-orange-offset-y: -183px;
$envelope-orange-width: 18px;
$envelope-orange-height: 20px;
$envelope-orange-total-width: 240px;
$envelope-orange-total-height: 238px;
$envelope-orange-image: '../images/spritesheet.png';
$envelope-orange: (0px, 183px, 0px, -183px, 18px, 20px, 240px, 238px, '../images/spritesheet.png', 'envelope-orange', );
$envelope-name: 'envelope';
$envelope-x: 18px;
$envelope-y: 183px;
$envelope-offset-x: -18px;
$envelope-offset-y: -183px;
$envelope-width: 18px;
$envelope-height: 20px;
$envelope-total-width: 240px;
$envelope-total-height: 238px;
$envelope-image: '../images/spritesheet.png';
$envelope: (18px, 183px, -18px, -183px, 18px, 20px, 240px, 238px, '../images/spritesheet.png', 'envelope', );
$fax-name: 'fax';
$fax-x: 181px;
$fax-y: 139px;
$fax-offset-x: -181px;
$fax-offset-y: -139px;
$fax-width: 24px;
$fax-height: 22px;
$fax-total-width: 240px;
$fax-total-height: 238px;
$fax-image: '../images/spritesheet.png';
$fax: (181px, 139px, -181px, -139px, 24px, 22px, 240px, 238px, '../images/spritesheet.png', 'fax', );
$fb-share-orange-name: 'fb-share-orange';
$fb-share-orange-x: 70px;
$fb-share-orange-y: 183px;
$fb-share-orange-offset-x: -70px;
$fb-share-orange-offset-y: -183px;
$fb-share-orange-width: 17px;
$fb-share-orange-height: 20px;
$fb-share-orange-total-width: 240px;
$fb-share-orange-total-height: 238px;
$fb-share-orange-image: '../images/spritesheet.png';
$fb-share-orange: (70px, 183px, -70px, -183px, 17px, 20px, 240px, 238px, '../images/spritesheet.png', 'fb-share-orange', );
$fb-share-name: 'fb-share';
$fb-share-x: 87px;
$fb-share-y: 183px;
$fb-share-offset-x: -87px;
$fb-share-offset-y: -183px;
$fb-share-width: 17px;
$fb-share-height: 20px;
$fb-share-total-width: 240px;
$fb-share-total-height: 238px;
$fb-share-image: '../images/spritesheet.png';
$fb-share: (87px, 183px, -87px, -183px, 17px, 20px, 240px, 238px, '../images/spritesheet.png', 'fb-share', );
$glass-name: 'glass';
$glass-x: 181px;
$glass-y: 71px;
$glass-offset-x: -181px;
$glass-offset-y: -71px;
$glass-width: 28px;
$glass-height: 21px;
$glass-total-width: 240px;
$glass-total-height: 238px;
$glass-image: '../images/spritesheet.png';
$glass: (181px, 71px, -181px, -71px, 28px, 21px, 240px, 238px, '../images/spritesheet.png', 'glass', );
$hamburger-close-name: 'hamburger-close';
$hamburger-close-x: 42px;
$hamburger-close-y: 77px;
$hamburger-close-offset-x: -42px;
$hamburger-close-offset-y: -77px;
$hamburger-close-width: 42px;
$hamburger-close-height: 42px;
$hamburger-close-total-width: 240px;
$hamburger-close-total-height: 238px;
$hamburger-close-image: '../images/spritesheet.png';
$hamburger-close: (42px, 77px, -42px, -77px, 42px, 42px, 240px, 238px, '../images/spritesheet.png', 'hamburger-close', );
$hamburger-mob-name: 'hamburger-mob';
$hamburger-mob-x: 30px;
$hamburger-mob-y: 119px;
$hamburger-mob-offset-x: -30px;
$hamburger-mob-offset-y: -119px;
$hamburger-mob-width: 32px;
$hamburger-mob-height: 32px;
$hamburger-mob-total-width: 240px;
$hamburger-mob-total-height: 238px;
$hamburger-mob-image: '../images/spritesheet.png';
$hamburger-mob: (30px, 119px, -30px, -119px, 32px, 32px, 240px, 238px, '../images/spritesheet.png', 'hamburger-mob', );
$hamburger-name: 'hamburger';
$hamburger-x: 0px;
$hamburger-y: 77px;
$hamburger-offset-x: 0px;
$hamburger-offset-y: -77px;
$hamburger-width: 42px;
$hamburger-height: 42px;
$hamburger-total-width: 240px;
$hamburger-total-height: 238px;
$hamburger-image: '../images/spritesheet.png';
$hamburger: (0px, 77px, 0px, -77px, 42px, 42px, 240px, 238px, '../images/spritesheet.png', 'hamburger', );
$help-name: 'help';
$help-x: 46px;
$help-y: 223px;
$help-offset-x: -46px;
$help-offset-y: -223px;
$help-width: 14px;
$help-height: 14px;
$help-total-width: 240px;
$help-total-height: 238px;
$help-image: '../images/spritesheet.png';
$help: (46px, 223px, -46px, -223px, 14px, 14px, 240px, 238px, '../images/spritesheet.png', 'help', );
$imagex2-name: 'imagex2';
$imagex2-x: 62px;
$imagex2-y: 119px;
$imagex2-offset-x: -62px;
$imagex2-offset-y: -119px;
$imagex2-width: 32px;
$imagex2-height: 32px;
$imagex2-total-width: 240px;
$imagex2-total-height: 238px;
$imagex2-image: '../images/spritesheet.png';
$imagex2: (62px, 119px, -62px, -119px, 32px, 32px, 240px, 238px, '../images/spritesheet.png', 'imagex2', );
$list-name: 'list';
$list-x: 15px;
$list-y: 223px;
$list-offset-x: -15px;
$list-offset-y: -223px;
$list-width: 16px;
$list-height: 14px;
$list-total-width: 240px;
$list-total-height: 238px;
$list-image: '../images/spritesheet.png';
$list: (15px, 223px, -15px, -223px, 16px, 14px, 240px, 238px, '../images/spritesheet.png', 'list', );
$loupe-mob-name: 'loupe-mob';
$loupe-mob-x: 181px;
$loupe-mob-y: 92px;
$loupe-mob-offset-x: -181px;
$loupe-mob-offset-y: -92px;
$loupe-mob-width: 24px;
$loupe-mob-height: 24px;
$loupe-mob-total-width: 240px;
$loupe-mob-total-height: 238px;
$loupe-mob-image: '../images/spritesheet.png';
$loupe-mob: (181px, 92px, -181px, -92px, 24px, 24px, 240px, 238px, '../images/spritesheet.png', 'loupe-mob', );
$loupe-noir-lg-name: 'loupe-noir-lg';
$loupe-noir-lg-x: 94px;
$loupe-noir-lg-y: 119px;
$loupe-noir-lg-offset-x: -94px;
$loupe-noir-lg-offset-y: -119px;
$loupe-noir-lg-width: 31px;
$loupe-noir-lg-height: 31px;
$loupe-noir-lg-total-width: 240px;
$loupe-noir-lg-total-height: 238px;
$loupe-noir-lg-image: '../images/spritesheet.png';
$loupe-noir-lg: (94px, 119px, -94px, -119px, 31px, 31px, 240px, 238px, '../images/spritesheet.png', 'loupe-noir-lg', );
$loupe-noir-name: 'loupe-noir';
$loupe-noir-x: 0px;
$loupe-noir-y: 162px;
$loupe-noir-offset-x: 0px;
$loupe-noir-offset-y: -162px;
$loupe-noir-width: 21px;
$loupe-noir-height: 21px;
$loupe-noir-total-width: 240px;
$loupe-noir-total-height: 238px;
$loupe-noir-image: '../images/spritesheet.png';
$loupe-noir: (0px, 162px, 0px, -162px, 21px, 21px, 240px, 238px, '../images/spritesheet.png', 'loupe-noir', );
$loupe-orange-name: 'loupe-orange';
$loupe-orange-x: 181px;
$loupe-orange-y: 21px;
$loupe-orange-offset-x: -181px;
$loupe-orange-offset-y: -21px;
$loupe-orange-width: 26px;
$loupe-orange-height: 26px;
$loupe-orange-total-width: 240px;
$loupe-orange-total-height: 238px;
$loupe-orange-image: '../images/spritesheet.png';
$loupe-orange: (181px, 21px, -181px, -21px, 26px, 26px, 240px, 238px, '../images/spritesheet.png', 'loupe-orange', );
$loupe-name: 'loupe';
$loupe-x: 13px;
$loupe-y: 203px;
$loupe-offset-x: -13px;
$loupe-offset-y: -203px;
$loupe-width: 16px;
$loupe-height: 16px;
$loupe-total-width: 240px;
$loupe-total-height: 238px;
$loupe-image: '../images/spritesheet.png';
$loupe: (13px, 203px, -13px, -203px, 16px, 16px, 240px, 238px, '../images/spritesheet.png', 'loupe', );
$map-name: 'map';
$map-x: 0px;
$map-y: 203px;
$map-offset-x: 0px;
$map-offset-y: -203px;
$map-width: 13px;
$map-height: 20px;
$map-total-width: 240px;
$map-total-height: 238px;
$map-image: '../images/spritesheet.png';
$map: (0px, 203px, 0px, -203px, 13px, 20px, 240px, 238px, '../images/spritesheet.png', 'map', );
$phone-o-name: 'phone-o';
$phone-o-x: 31px;
$phone-o-y: 223px;
$phone-o-offset-x: -31px;
$phone-o-offset-y: -223px;
$phone-o-width: 15px;
$phone-o-height: 14px;
$phone-o-total-width: 240px;
$phone-o-total-height: 238px;
$phone-o-image: '../images/spritesheet.png';
$phone-o: (31px, 223px, -31px, -223px, 15px, 14px, 240px, 238px, '../images/spritesheet.png', 'phone-o', );
$phone-name: 'phone';
$phone-x: 227px;
$phone-y: 0px;
$phone-offset-x: -227px;
$phone-offset-y: 0px;
$phone-width: 13px;
$phone-height: 19px;
$phone-total-width: 240px;
$phone-total-height: 238px;
$phone-image: '../images/spritesheet.png';
$phone: (227px, 0px, -227px, 0px, 13px, 19px, 240px, 238px, '../images/spritesheet.png', 'phone', );
$plus-name: 'plus';
$plus-x: 172px;
$plus-y: 183px;
$plus-offset-x: -172px;
$plus-offset-y: -183px;
$plus-width: 16px;
$plus-height: 16px;
$plus-total-width: 240px;
$plus-total-height: 238px;
$plus-image: '../images/spritesheet.png';
$plus: (172px, 183px, -172px, -183px, 16px, 16px, 240px, 238px, '../images/spritesheet.png', 'plus', );
$print-orange-name: 'print-orange';
$print-orange-x: 61px;
$print-orange-y: 162px;
$print-orange-offset-x: -61px;
$print-orange-offset-y: -162px;
$print-orange-width: 20px;
$print-orange-height: 19px;
$print-orange-total-width: 240px;
$print-orange-total-height: 238px;
$print-orange-image: '../images/spritesheet.png';
$print-orange: (61px, 162px, -61px, -162px, 20px, 19px, 240px, 238px, '../images/spritesheet.png', 'print-orange', );
$print-name: 'print';
$print-x: 121px;
$print-y: 162px;
$print-offset-x: -121px;
$print-offset-y: -162px;
$print-width: 20px;
$print-height: 19px;
$print-total-width: 240px;
$print-total-height: 238px;
$print-image: '../images/spritesheet.png';
$print: (121px, 162px, -121px, -162px, 20px, 19px, 240px, 238px, '../images/spritesheet.png', 'print', );
$rss-orange-name: 'rss-orange';
$rss-orange-x: 121px;
$rss-orange-y: 183px;
$rss-orange-offset-x: -121px;
$rss-orange-offset-y: -183px;
$rss-orange-width: 19px;
$rss-orange-height: 17px;
$rss-orange-total-width: 240px;
$rss-orange-total-height: 238px;
$rss-orange-image: '../images/spritesheet.png';
$rss-orange: (121px, 183px, -121px, -183px, 19px, 17px, 240px, 238px, '../images/spritesheet.png', 'rss-orange', );
$rss-sidebar-name: 'rss-sidebar';
$rss-sidebar-x: 21px;
$rss-sidebar-y: 162px;
$rss-sidebar-offset-x: -21px;
$rss-sidebar-offset-y: -162px;
$rss-sidebar-width: 20px;
$rss-sidebar-height: 20px;
$rss-sidebar-total-width: 240px;
$rss-sidebar-total-height: 238px;
$rss-sidebar-image: '../images/spritesheet.png';
$rss-sidebar: (21px, 162px, -21px, -162px, 20px, 20px, 240px, 238px, '../images/spritesheet.png', 'rss-sidebar', );
$rss-name: 'rss';
$rss-x: 41px;
$rss-y: 162px;
$rss-offset-x: -41px;
$rss-offset-y: -162px;
$rss-width: 20px;
$rss-height: 20px;
$rss-total-width: 240px;
$rss-total-height: 238px;
$rss-image: '../images/spritesheet.png';
$rss: (41px, 162px, -41px, -162px, 20px, 20px, 240px, 238px, '../images/spritesheet.png', 'rss', );
$share-name: 'share';
$share-x: 104px;
$share-y: 183px;
$share-offset-x: -104px;
$share-offset-y: -183px;
$share-width: 17px;
$share-height: 19px;
$share-total-width: 240px;
$share-total-height: 238px;
$share-image: '../images/spritesheet.png';
$share: (104px, 183px, -104px, -183px, 17px, 19px, 240px, 238px, '../images/spritesheet.png', 'share', );
$shield-name: 'shield';
$shield-x: 142px;
$shield-y: 80px;
$shield-offset-x: -142px;
$shield-offset-y: -80px;
$shield-width: 30px;
$shield-height: 38px;
$shield-total-width: 240px;
$shield-total-height: 238px;
$shield-image: '../images/spritesheet.png';
$shield: (142px, 80px, -142px, -80px, 30px, 38px, 240px, 238px, '../images/spritesheet.png', 'shield', );
$small-add-advert-name: 'small-add-advert';
$small-add-advert-x: 142px;
$small-add-advert-y: 0px;
$small-add-advert-offset-x: -142px;
$small-add-advert-offset-y: 0px;
$small-add-advert-width: 39px;
$small-add-advert-height: 43px;
$small-add-advert-total-width: 240px;
$small-add-advert-total-height: 238px;
$small-add-advert-image: '../images/spritesheet.png';
$small-add-advert: (142px, 0px, -142px, 0px, 39px, 43px, 240px, 238px, '../images/spritesheet.png', 'small-add-advert', );
$star-orange-name: 'star-orange';
$star-orange-x: 156px;
$star-orange-y: 183px;
$star-orange-offset-x: -156px;
$star-orange-offset-y: -183px;
$star-orange-width: 16px;
$star-orange-height: 16px;
$star-orange-total-width: 240px;
$star-orange-total-height: 238px;
$star-orange-image: '../images/spritesheet.png';
$star-orange: (156px, 183px, -156px, -183px, 16px, 16px, 240px, 238px, '../images/spritesheet.png', 'star-orange', );
$star-name: 'star';
$star-x: 227px;
$star-y: 48px;
$star-offset-x: -227px;
$star-offset-y: -48px;
$star-width: 13px;
$star-height: 13px;
$star-total-width: 240px;
$star-total-height: 238px;
$star-image: '../images/spritesheet.png';
$star: (227px, 48px, -227px, -48px, 13px, 13px, 240px, 238px, '../images/spritesheet.png', 'star', );
$twitter-orange-name: 'twitter-orange';
$twitter-orange-x: 36px;
$twitter-orange-y: 183px;
$twitter-orange-offset-x: -36px;
$twitter-orange-offset-y: -183px;
$twitter-orange-width: 17px;
$twitter-orange-height: 20px;
$twitter-orange-total-width: 240px;
$twitter-orange-total-height: 238px;
$twitter-orange-image: '../images/spritesheet.png';
$twitter-orange: (36px, 183px, -36px, -183px, 17px, 20px, 240px, 238px, '../images/spritesheet.png', 'twitter-orange', );
$twitter-name: 'twitter';
$twitter-x: 53px;
$twitter-y: 183px;
$twitter-offset-x: -53px;
$twitter-offset-y: -183px;
$twitter-width: 17px;
$twitter-height: 20px;
$twitter-total-width: 240px;
$twitter-total-height: 238px;
$twitter-image: '../images/spritesheet.png';
$twitter: (53px, 183px, -53px, -183px, 17px, 20px, 240px, 238px, '../images/spritesheet.png', 'twitter', );
$upload-orange-name: 'upload-orange';
$upload-orange-x: 46px;
$upload-orange-y: 203px;
$upload-orange-offset-x: -46px;
$upload-orange-offset-y: -203px;
$upload-orange-width: 17px;
$upload-orange-height: 15px;
$upload-orange-total-width: 240px;
$upload-orange-total-height: 238px;
$upload-orange-image: '../images/spritesheet.png';
$upload-orange: (46px, 203px, -46px, -203px, 17px, 15px, 240px, 238px, '../images/spritesheet.png', 'upload-orange', );
$upload-name: 'upload';
$upload-x: 29px;
$upload-y: 203px;
$upload-offset-x: -29px;
$upload-offset-y: -203px;
$upload-width: 17px;
$upload-height: 15px;
$upload-total-width: 240px;
$upload-total-height: 238px;
$upload-image: '../images/spritesheet.png';
$upload: (29px, 203px, -29px, -203px, 17px, 15px, 240px, 238px, '../images/spritesheet.png', 'upload', );
$user-mob-name: 'user-mob';
$user-mob-x: 0px;
$user-mob-y: 223px;
$user-mob-offset-x: 0px;
$user-mob-offset-y: -223px;
$user-mob-width: 15px;
$user-mob-height: 15px;
$user-mob-total-width: 240px;
$user-mob-total-height: 238px;
$user-mob-image: '../images/spritesheet.png';
$user-mob: (0px, 223px, 0px, -223px, 15px, 15px, 240px, 238px, '../images/spritesheet.png', 'user-mob', );
$user-orange-mob-name: 'user-orange-mob';
$user-orange-mob-x: 154px;
$user-orange-mob-y: 119px;
$user-orange-mob-offset-x: -154px;
$user-orange-mob-offset-y: -119px;
$user-orange-mob-width: 22px;
$user-orange-mob-height: 22px;
$user-orange-mob-total-width: 240px;
$user-orange-mob-total-height: 238px;
$user-orange-mob-image: '../images/spritesheet.png';
$user-orange-mob: (154px, 119px, -154px, -119px, 22px, 22px, 240px, 238px, '../images/spritesheet.png', 'user-orange-mob', );
$user-orange-name: 'user-orange';
$user-orange-x: 101px;
$user-orange-y: 162px;
$user-orange-offset-x: -101px;
$user-orange-offset-y: -162px;
$user-orange-width: 20px;
$user-orange-height: 19px;
$user-orange-total-width: 240px;
$user-orange-total-height: 238px;
$user-orange-image: '../images/spritesheet.png';
$user-orange: (101px, 162px, -101px, -162px, 20px, 19px, 240px, 238px, '../images/spritesheet.png', 'user-orange', );
$user-name: 'user';
$user-x: 81px;
$user-y: 162px;
$user-offset-x: -81px;
$user-offset-y: -162px;
$user-width: 20px;
$user-height: 19px;
$user-total-width: 240px;
$user-total-height: 238px;
$user-image: '../images/spritesheet.png';
$user: (81px, 162px, -81px, -162px, 20px, 19px, 240px, 238px, '../images/spritesheet.png', 'user', );
$spritesheet-width: 240px;
$spritesheet-height: 238px;
$spritesheet-image: '../images/spritesheet.png';
$spritesheet-sprites: ($a-, $a-, $ad-premium, $ad-pub, $ad-simple, $ad-urgent, $add-advert-white, $add-advert, $arrow-down-black, $arrow-down-circle-white, $arrow-down-circle, $arrow-down-orange, $arrow-down-white, $arrow-left-orange, $arrow-left, $arrow-right-orange, $arrow-right-white, $arrow-right, $arrow-up-orange, $biblio, $big-help, $bookmark, $calendar, $check-orange, $check, $circle-minus, $circle-plus, $close-white, $comment, $contact, $danger-orange, $danger, $delete-o, $delete, $edit-comment-noir, $edit-comment-orange, $edit-comment, $envelope-o, $envelope-orange, $envelope, $fax, $fb-share-orange, $fb-share, $glass, $hamburger-close, $hamburger-mob, $hamburger, $help, $imagex2, $list, $loupe-mob, $loupe-noir-lg, $loupe-noir, $loupe-orange, $loupe, $map, $phone-o, $phone, $plus, $print-orange, $print, $rss-orange, $rss-sidebar, $rss, $share, $shield, $small-add-advert, $star-orange, $star, $twitter-orange, $twitter, $upload-orange, $upload, $user-mob, $user-orange-mob, $user-orange, $user, );
$spritesheet: (240px, 238px, '../images/spritesheet.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
